.about{
    background-color: black;
    color: white;
    animation: bg-slide 1s ease-in-out;
    
    min-height: 100vh;
}


.logo-container{
    position: fixed;
    top: 20px;
    left: 3%;
    z-index: 100;
    
}
.logo{
    width: 10rem;
position: fixed;

   
}

.socmed{
    z-index: 1000;
}

.scroll-title{
    font-size: 100px;
}

@media screen and (max-width:900px) {
 .logo{
    width: 7rem;
 }   
}

@media screen and (max-width:600px) {
    .logo{
       width: 5rem;
    }   
    .scroll-title{
        font-size: 3rem;
        
    }
}




.scroll{
    
    color: white;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: 600;
    z-index: -100;
    

}

.mouse{
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 40px;
}

.intro{
    font-size: 3rem;
    position: fixed;
    background-color: white;
    height: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    clip-path: circle(0%); 
}

.intro > * {
    width: max-content;
    font-size: 5rem;
    position: relative;
}

.intro div:first-child{
    
    left: 30px;
}

.intro div:nth-child(3){
    right: 50vw;
}
.background{
    background-color: black;
    margin-top: 120vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   position: relative;
    gap: 30px;
    width: 100vw;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}

.subtitle{
    font-size: 4rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}


.bg-content{
  width: 80%;
  
  display: flex;
  align-items: stretch;
  justify-content: center;
   
  gap: 30px;  
  height: 100%;
}

.bg-content > * {
    flex:1;
}
.year{
    display: block;
    color: gray;
}

.right,
.left{
    font-size: 40px;
    text-align: center;
    
}

ul{
    margin-top: 30px;
    padding: 0;
    font-size: 20px;
}
li{
list-style: none;
margin-bottom: 20px;
}

.left ul{
    text-align: right;
}
.right ul{
    text-align: left;
}

@media screen and (max-width:800px){
   .bg-content{
    flex-direction: column;
   }
    .subtitle{
        font-size: 2rem;
    }

    

    .left ul{
        text-align: left;
    }
}
.skills{
    background-color: black;
    color: white;
    padding: 3rem 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.skill{
    
   display: flex;
   
   width: 50%;
   align-items: center;
   justify-content: center;
   margin-bottom: 10rem;
}
.icon-container{
    
    
    display: flex;
    flex-direction: column;
}

.skill-icon.small{
    font-size: 30px;
    width: 60px;
    height: 60px;
}

.skill .right{
    align-items: flex-end;
}

.middle{
    align-items: center;
    padding-top: 20px;
}

.skill-icon.medium{
    font-size: 40px;
    width: 70px;
    height: 70px;
}

.middle-up{
    padding-top: 30px;
}

.middle-bottom{
    padding-bottom: 30px;
}
.skill-icon{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background-color: white;
    border-radius: 50%;
    color: black;
    transition: all 0.3s ease-in;
}

.skill-icon:hover{
    transform: scale(1.5);
}

@media screen and (max-width:600px) {
    .skill{
        flex-direction: column;
    }
}


.skill-title{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2pt;
}

.skills .item{
   margin-bottom: 20px; 
}

.bar{
    background-color: rgb(77, 75, 75);
    height: 10px;
    width: 100%;
}
.bar::before{
    background-color: white;
    
    content: " ";
    height: 10px;
   width: 0%;
    display: block;
}

.html .bar::before {
    animation: html 1s linear;
    animation-fill-mode: forwards;
    
}

@keyframes html{
    to{width: 90%;}
}

.js .bar::before {
    animation: js 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes js{
    to{width: 75%;}
}

.css .bar::before {
    animation: css 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes css{
    to{width: 80%;}
}

.R .bar::before {
    animation: R 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes R{
    to{width: 70%;}
}

.python .bar::before {
    animation: python 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 1.4s;
}

@keyframes python{
    to{width: 60%;}
}
.framework{
    font-size: 50px;
    margin-top: 10px;
    
}

.framework > *{
    background-color: gray;
    border-radius: 50%;
    padding: 10px;
}

.about .contents{
    height: auto;
    
    
  }